body {
    background: linear-gradient(to right, green, red);
    color: black;
}

h1, h3, p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

#inputControls {
    display: flex;
    justify-content: center;
}

#inputControls input {
    margin: 10px;
    text-transform: uppercase;
}

button {
    display: block;
    margin: 0 auto;
    width: 200px;
    text-align: center;
    height: 50px;
    text-transform: uppercase;
    background-color: grey;
    color: white;
}



